body {
  background-color: tomato;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.father {
  background-color: wheat;
  height: 200px;
  width: 200px;
  padding: 20px 20px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.inside {
  background-color: teal;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  margin: 5px;
}

.inside-second {
  width: 100%;
  border-style: dashed;
}
